<!doctype html>
<html lang="en-US"><head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width" />
<title>{{ page.title }}</title>
<meta name="author" content="{{ site.orgname }}" />
<link rel="stylesheet" type="text/css" href="/deps/styles.css" />
</head><body><div class="page">
	<header>
		<h1><a href="/">{{ site.orgname}} Bylaws</a></h1>
	</header>
	<section>
		{{ content }}
	</section>
</div></body></html>
